:root {
  font-family: sans-serif;
  font-size: 1rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Set core body defaults */
body {
  max-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #ffd5a3;
}

.vert-center {
  display: flex;
  align-items: center;
}

#products {
  display: flex;
  justify-content: space-evenly;
}
