div#cart-sidebar {
  padding: 2rem;
  position: fixed;
  right: 0;
  background-color: white;
  min-height: 100vh;
  width: 35%;
  z-index: 1;
  transition: linear 1s;
}

div.closed#cart-sidebar {
  /*transform: translateX(100rem);*/
}
